.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}

.pad--bottom {
  margin-bottom: 2rem;
}

.pad--top {
  margin-top: 2.75rem;
}

main {
  max-width: 1337px;
  margin: 0 auto;
}

.nav__link {
  color: #fff;
  font: inherit;
  white-space: nowrap;
  width: auto;
  padding: 0 1rem;
}

.page__header {
  margin-bottom: 2rem;
}

.page__header-title {
  margin-bottom: 1.5rem;
}

.preview {
  width: 100%;
  min-height: 150px;
  background-color: #f4f4f4;
  outline: 2px solid #0353e9;
  outline-offset: -2px;
  padding: 10px 15px;
  margin-bottom: -2px;
}

.preview__run {
  position: absolute;
  bottom: 0;
  right: 0;
}

.input {
  margin-bottom: 1rem;
}

.tag-input__input {
  margin-bottom: 0.25rem;
}

.tag-input__tags {
  margin-bottom: 1rem;
}

.editor {
  margin-bottom: 2rem;
}

.editor__label {
  font-size: 0.75rem;
  line-height: 1;
  letter-spacing: 0.32px;
  color: #393939;
  vertical-align: baseline;
  margin-bottom: 0.5rem;
}

.editor__input-container {
  position: relative;
  border: 2px solid #0353e9;
  border-top: none;
  overflow-x: scroll;
}

.editor__input-theme {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  z-index: 999;
}

.submit__actions {
  text-align: right;
  margin: 1rem 0;
}

.hero {
  text-align: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
}

.hero__title {
  font-size: 1.75rem;
  font-weight: 800;
  margin: 2rem 0 1.5rem 0;
  line-height: 1.5;
}

.hero__subtitle {
  font-size: 1.25rem;
}

@media only screen and (min-width: 600px) {
  .page__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 1300px) {
  .preview {
    margin-bottom: 0;
  }

  .editor {
    display: flex;
  }

  .editor > * {
    flex-basis: 50%;
  }

  .editor__input-container {
    border-top: 2px solid #0353e9;
    border-left: none;
  }
}
