.preview {
  position: relative;
  min-height: 150px;
  background-color: #f4f4f4;
  outline: 2px solid #0353e9;
  outline-offset: -2px;
  padding: 10px 15px;
}

.preview__run {
  position: absolute;
  bottom: 0;
  right: 0;
}

.editor__input-container {
  border: 2px solid #0353e9;
  border-top: none;
}

@media only screen and (min-width: 1080px) {
  .editor {
    display: flex;
  }

  .editor > * {
    flex-basis: 50%;
  }

  .editor__input-container {
    border-top: 2px solid #0353e9;
    border-left: none;
  }
}
